<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>musicName</key>
            <string>飘摇</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/storages/ae60-audiofreehighqps/F4/DE/CKwRIMAFK2miAB3UFwDoL0di.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>云烟成雨</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group58/M06/B0/62/wKgLc1zBPzOi3ZAwAB8kE6m6r-k372.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>错位时空</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/storages/376a-audiofreehighqps/2E/09/CKwRIaIEJhxoABwfWwCS5LoZ.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>神话</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/storages/c1f9-audiofreehighqps/C4/67/CMCoOSMD1HkVAB9BzQB7OvVO.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>天使的翅膀</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group61/M02/E6/A6/wKgMZl32PHCTZLtYABto2Dr8VJA837.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>只要平凡</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group61/M05/70/D0/wKgMZl0JCZvTA-NXAB7uIQppkLc241.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>盗将行</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group56/M08/A2/14/wKgLgFyJKaLQA-SGABowSwHI4V4184.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>至少还有</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group46/M01/73/E2/wKgKllt6UBbAubLoACH8_POnkqg275.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>真的爱你</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group45/M01/59/4F/wKgKlFs9BAzi0qf5ABw3b3Ijgik015.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>对不起我爱你</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M02/8A/CF/wKgDtFRMVpmwiyGLACkKyKZiVuA635.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>秋之恋</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M05/88/19/wKgDs1RMmGfQOkFuABPg7_4e1n8587.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>等不到的爱</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M07/8A/56/wKgDtFRL2r6ARbgmACGYl0H0-aE077.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>三寸天堂</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M06/87/D1/wKgDs1RMgE6RreGUAB5l2BFTs8I423.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>突然好想你</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M08/8B/66/wKgDtFRMkRixu-eXAB9ci3JlQYI913.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>等你的季节</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M07/8B/31/wKgDtFRMf7Ly-cHyABx0qwLn37U487.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>知足</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M03/87/F5/wKgDs1RMjB7CIzmiACF88QQ9P0E094.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>夜空中最亮的星</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M02/8B/BF/wKgDtFRMr1eS1vN0AB75nWx2K0E398.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>虹之间</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M04/88/60/wKgDs1RMsK-QW3r3ABzDAXt0va4929.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>太多</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group44/M09/E4/6C/wKgKjFsnQ7agqgpDACcvwjvgW1I047.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>后来</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group43/M05/1F/A6/wKgKklsD8mbAJ-ydACMFeXzo_KI525.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>海阔天空</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group41/M09/06/45/wKgJ8lrjH3-wSH0nACSVeeC18jw131.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>体面</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group39/M09/80/97/wKgJnlp7G-yBupCZACT4JodgZwM913.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>安和桥</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group39/M07/1C/0C/wKgJn1pixcyRYi06AB2Q1qDIGds650.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>大鱼</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group37/M05/4D/D5/wKgJoVpJ1mGh5JjzACQTw3Kb2Yk495.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>独家记忆</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group36/M08/17/EF/wKgJTVpBJkvjsBBQACdCfDmtEtA209.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>像我这样的人</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group36/M06/A8/C3/wKgJUlo6ZS2Rr7niABack1ntxZ0935.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>虫儿飞</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group36/M08/7F/6F/wKgJUlounJvg95iFABDgrQjNvEk216.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>追光者</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group36/M07/26/43/wKgJUlon6k_hYWpyABuVGO6fYx0051.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>可惜不是你</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group35/M0A/32/4C/wKgJnVoTYUOxcQBVACRz1DrG4Bk829.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>消愁</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group35/M03/67/EC/wKgJnVoMlfbw78pzABmNLd0KNn0545.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>穿越时空的思念</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group34/M01/D8/49/wKgJYVnbvAywPqJeABWZo6ne2Zo693.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>你不是真正的快乐</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group31/M07/6C/AD/wKgJX1l05U2SKkE8ACCZ-NjMEmU332.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>演员</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group46/M03/22/34/wKgKj1uaDCXxsjJhACWMTYn4WsE054.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>彩虹</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group25/M03/71/F5/wKgJMVh2PX6gw6acAB40QIVXqZs071.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>成都</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group25/M05/7F/27/wKgJMVigcuaApsFlACmcQ5Fo2es530.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>我不愿让你一个人</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group25/M0B/AB/1C/wKgJMVhLwcrwALKSACJT49cBpBQ973.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>童话</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group21/M05/5D/3B/wKgJLVg0OkOB1oapAB90SMZfB1E812.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>原来你也在这里</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group18/M01/8D/62/wKgJKlgHK03yieC2AB50Cdn7sig217.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>断点</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group18/M09/7E/44/wKgJJVgCJBWiBXsSACd7y6m9Csg714.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>十年</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group6/M00/A7/8C/wKgDg1dqQdKSITtyAByLaqd4pg4286.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>假如爱有天意</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group7/M06/05/C2/wKgDWlbEhsSRHQ64AB7P6XPl-uw649.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>黄昏</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M00/8B/26/wKgDtFRMe_Sz9-ndAB6udqjbVD8730.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>后会无期</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M02/8B/B3/wKgDtFRMrCPi9XvYABs7R-vEsBE868.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
        <dict>
            <key>musicName</key>
            <string>天空之城</string>
            <key>musicUrl</key>
            <string>http://aod.cos.tx.xmcdn.com/group4/M00/87/C6/wKgDs1RMfKqCxHrEABqeflw3D80487.mp3</string>
            <key>musicImage</key>
            <string>http://imgopen.xmcdn.com/group16/M02/5D/54/wKgDbFcpubOAcFbpAAFgmIO_2l8844.jpg!op_type=5&amp;upload_type=album&amp;device_type=ios&amp;name=mobile_large&amp;magick=png</string>
        </dict>
    </array>
</plist>
